In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
## loading the dataset
movies_dataset = pd.read_csv("dataset/ml-latest-small/movies.csv")

In [3]:
movies_dataset.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
# converting from "genre1|genre2|genre3" to "genre1 genre2 genre3"
movies_dataset["genres"] = movies_dataset["genres"].fillna('').str.replace("|"," ")

In [7]:
movies_dataset.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy
1,2,Jumanji (1995),Adventure Children Fantasy
2,3,Grumpier Old Men (1995),Comedy Romance
3,4,Waiting to Exhale (1995),Comedy Drama Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
# developing a tfidf matrix
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(movies_dataset['genres'])

In [12]:
# computing a cosine similarity from the tf-idf matrix
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [15]:
# save the matrix for future use
import pickle

with open('matrices/tfidf_matrix.pkl', 'wb') as f:
    pickle.dump(tfidf_matrix, f)

with open('matrices/cosine_sim.pkl', 'wb') as f:
    pickle.dump(cosine_sim, f)