In [49]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [50]:
## loading the dataset
movies_dataset = pd.read_csv("dataset/ml-latest-small/movies.csv")

In [51]:
movies_dataset.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [52]:
# converting from "genre1|genre2|genre3" to "genre1 genre2 genre3"
movies_dataset["genres"] = movies_dataset["genres"].fillna('').str.replace("|"," ")

In [53]:
movies_dataset.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy
1,2,Jumanji (1995),Adventure Children Fantasy
2,3,Grumpier Old Men (1995),Comedy Romance
3,4,Waiting to Exhale (1995),Comedy Drama Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
# developing a tfidf matrix
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(movies_dataset['genres'])

In [12]:
# computing a cosine similarity from the tf-idf matrix
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [15]:
# save the matrix for future use
import pickle

with open('matrices/tfidf_matrix.pkl', 'wb') as f:
    pickle.dump(tfidf_matrix, f)

with open('matrices/cosine_sim.pkl', 'wb') as f:
    pickle.dump(cosine_sim, f)

In [17]:
# creating indices for further use in recommendation
indices = pd.Series(movies_dataset.index, index=movies_dataset['title']).drop_duplicates()

In [18]:
with open('matrices/indices.pkl', 'wb') as f:
    pickle.dump(indices, f)

In [35]:

from helper_functions import get_recommendations

UsageError: Line magic function `%autoreload` not found.

In [46]:
recommendations = get_recommendations(["Things to Do in Denver When You're Dead (1995)"],cosine_sim,indices,movies_dataset)

In [47]:
recommendations

Index([804, 893, 1086, 1090, 1539, 1588, 2817, 3487, 3584, 4186], dtype='int64')

In [48]:
movies_dataset.iloc[recommendations]

,movieId,title,genres
804,1053,Normal Life (1996),Crime Drama Romance
893,1190,Tie Me Up! Tie Me Down! (¡Átame!) (1990),Crime Drama Romance
1086,1411,Hamlet (1996),Crime Drama Romance
1090,1415,"Thieves (Voleurs, Les) (1996)",Crime Drama Romance
1539,2074,"Night Porter, The (Portiere di notte, Il) (1974)",Crime Drama Romance
1588,2130,Atlantic City (1980),Crime Drama Romance
2817,3765,"Hot Spot, The (1990)",Crime Drama Romance
3487,4766,Our Lady of the Assassins (Virgen de los sicar...,Crime Drama Romance
3584,4914,Breathless (À bout de souffle) (1960),Crime Drama Romance
4186,6035,Pépé le Moko (1937),Crime Drama Romance